RewriteEngine On

# If your application is accessed via an Alias directive,
# then you MUST also set the RewriteBase in this htaccess file.
#
# Example:
#   Alias /myapp /path/to/myapp/public
#  RewriteBase /fda

#for google accelerator
#RewriteCond %{HTTP:x-moz} ^prefetch
#RewriteRule ^/*admin/.* - [F,L]

RewriteCond %{QUERY_STRING} ^metaid=492$
RewriteRule ^default\.asp$ http://ccip.123interview.com/IOD/Itw_CCIP_DGAEF_DRIE.nsf/h?OpenAgent&A=003F7F59 [R=301,L]

RewriteRule ^enquete$ http://ccip.123interview.com/IOD/Itw_CCIP_DGAEF_DRIE.nsf/h?OpenAgent&A=003F7F59 [R=301,L]

RewriteRule ^$ cache/index.html [QSA]
RewriteRule ^([^.]+)$ cache/$1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
