<?php

return array
(
    'orm' => array(
        'mysql' => array(
            'driver'   => 'mysql',
            'host'     => 'localhost',
            'user'     => 'stato',
            'password' => null,
            'dbname'   => 'stato_orm_tests',
            'dsn'      => 'mysql:host=localhost;dbname=stato_orm_tests'
        ),
    ),
);