* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
    background: #fff url(../images/bg_pattern.png) repeat;
}
a { text-decoration: none; color: #3573EF; }
a:hover, a:active, a:focus { color: #F37A05; }

h1 { font-size: 18px; }
h4 {
    margin-bottom: 5px;
}

table.data-table {
    border: 1px solid #ccc;
    border-spacing: 0; 
    margin: 0;
    text-align:left;
    border-collapse: collapse;
    width: 100%;
}
table.data-table th { 
    padding: 2px 10px;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
    border-left: 1px dotted #bbb;
}
table.data-table th.actions {
    border-left: none;
}
table.data-table td.actions {
    text-align: right;
}
table.data-table td { padding: 2px 10px; }
table.data-table td img { vertical-align: bottom; }
table.data-table tr.even {
    background-color: #FFEFAA;
}
table.data-table tr.odd td, table.data-table tr.even td {
    border-top: 1px solid #FFB751;
}
table.data-table tr.odd {
    background-color: #FFD66F;
}

label { display: block; }

input[type='checkbox'] + label { 
    display: inline; 
}
input, select, textarea { 
    border: 1px solid #aaa;
}

p, fieldset {
    margin: 5px 0;
}
fieldset {
    line-height: 2em;
}

#form, .form {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
}

.form-errors {
    width: 400px;
    border: 2px solid red;
    padding: 10px 10px 5px;
    background-color: #f0f0f0;
}
.form-errors h2 { margin: 0; font-size: 14px; }

p.empty {
    height: 100px;
    padding: 10px 0 0 30px;
    font-size: 110%;
    background: #FFD66F url(../images/information.png) no-repeat 10px 11px;
}

/* -----------------------------------------------------------------------------
     LAYOUT
------------------------------------------------------------------------------*/
#container { 
    margin: 0 auto;
    max-width: 65em;
    min-width: 690px;
    position: relative;
    background-color: #fff;
    color: #000;
    line-height: 1.4;
    padding: 4px;
    border-left: 2px solid #eee;
    border-right: 2px solid #ddd;
}
#main { 
    /*float: left;
    width: 67%;*/
    position: relative;
    clear: left;
    min-height: 550px;
    font-size: 0.8em;
    margin: 10px;
    padding: 0.8em;
}
#main h2 {
    margin-bottom: 20px;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
#main h3 {
    background: #fff url(../images/bg_main_nav.gif) repeat-x 100% 0;
    margin: 0;
    line-height: 1.0;
    padding: 0.7em;
    font-size: 1.1em;
    color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
}
#actions {
    position: absolute;
    top: 10px;
    right: 10px;
}
#header {
	color: #fff;
	background: #3573EF url(../images/banner.png) no-repeat 0 0;
}
#info {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 11px;
}
#info a {
    color: #fff;
}
#info a:hover {
    text-decoration: underline;
}
#logo {
    display: block;
    min-height: 80px;
}
#notice {
	position: absolute;
	top: 25px;
	width: 50%;
    margin-left:25%;
	margin-right:25%;
}
#notice p {
    color: #F37A05;
	font-size: 13px;
	padding: 0.5em 0.5em 0.5em 2.5em;
	font-weight: bold;
	background: #fff url(../images/information.png) no-repeat 0.5em 50%;
	border: 2px solid #F37A05;
}
#footer {
	background-color: #000;
	color: #fff;
	font-size: 10px;
	padding: 12px;
	clear: both;
	text-align: center;
	font-weight: bold;
}

/* -----------------------------------------------------------------------------
    NAVIGATION
------------------------------------------------------------------------------*/
#navigation { 
    float: left;
    width: 100%;
    clear: both;
    background: #7F7F7F url(../images/bg_main_nav.gif) repeat-x 0 0;
    border-top: 1px solid #7F7F7F;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
}
#navigation ul {
    float: left;
    width: 100%;
    clear: both;
    /*background: url(/images/menu_bgbottom.gif) repeat-x 0 100%;*/
    list-style-type: none;
    height: 2.5em;
}
#navigation li {
    float: left;
    width: 10%;
    text-align: center;
    border-left: 1px solid #aaa;
    border-right: 1px solid #fff;
    margin-top: 0.6em;
}
#navigation a {
    display: block;
    float: left;
    width: 100%;
    /*padding: 0.3em 0;*/
    /*font-weight: bold;*/
    text-decoration: none;
    color: #000;
}
#navigation a:hover, #navigation a:active, #navigation a:focus { color: #f89901;}
#navigation #nav-first-link { border-left:none; }
#navigation #nav-last-link { border-right:none; }

/* -----------------------------------------------------------------------------
    LIENS "ACTIFS"
------------------------------------------------------------------------------*/
#actions a, #actions input {
    margin-left: 10px;
}
form.button-to {
	display: inline;
}
form.button-to div {
	display: inline;
}
a.action, input.action {
    font-size: 11px;
    color: #3573EF;
    border: none;
    padding: 2px 0 2px 20px;
    background-color: transparent;
    background-position: 1px 0px;
    background-repeat: no-repeat;
}
a.action:hover {
    color: red;
}
input.action:hover {
    cursor: pointer; cursor: hand;
    color: red;
    text-decoration: underline;
}
a.edit { background-image: url(../images/page_edit.png); }
a.new { background-image: url(../images/page_add.png); }
a.import { background-image: url(../images/disk_multiple.png); }
input.delete { background-image: url(../images/page_delete.png); }
a.preview { background-image: url(../images/page_go.png); }
a.back { background-image: url(../images/arrow_left.png); }
a.xml { background-image: url(../images/page_white_code.png); }
a.config { background-image: url(../images/cog.png); }
a.logout { background-image: url(../images/door_out.png); }
a.css { background-image: url(../images/css.png); }
a.css-new { background-image: url(../images/css_add.png); }
input.css-delete { background-image: url(../images/css_delete.png); }

/* -----------------------------------------------------------------------------
    FILE BROWSER
------------------------------------------------------------------------------*/
#directory-tree {
    width: 500px;
    float: left;
}
#sidebar {
    width: 300px;
    min-height: 500px;
    float: left;
    border-left: 1px dotted #ccc;
    padding-left: 20px;
}
#sidebar h3 {
    background: none;
    border: none;
    padding: 5px 0 5px 20px;
    color: #000;
    border-bottom: 1px solid #F37A05;
}
#sidebar h3.add-folder {
    background: transparent url(../images/folder_add.png) no-repeat 0 2px;
}
#sidebar h3.upload-files {
    margin-top: 20px;
    background: transparent url(../images/disk_multiple.png) no-repeat 0 2px;
}
p.submit {
    text-align: right;
}

.page .x-tree-node-icon {
    /*padding: 5px 0 5px 20px;*/
    background: transparent url(../images/page.png) no-repeat 0 2px;
}

a.file {
    padding: 5px 0 5px 20px;
    background-color: transparent;
    background-position: 0 2px;
    background-repeat: no-repeat;
}

.pub-page .x-tree-node-icon { background-image: url(../images/page_green.png); }
.unpub-page .x-tree-node-icon { background-image: url(../images/page_red.png); }

.doc-type .x-tree-node-icon { background-image: url(../images/page_white_word.png); }
.img-type .x-tree-node-icon { background-image: url(../images/picture.png); }
.audio-type .x-tree-node-icon { background-image: url(../images/sound.png); }
.pdf-type .x-tree-node-icon { background-image: url(../images/page_white_acrobat.png); }
.doc-type .x-tree-node-icon { background-image: url(../images/page_white_word.png); }
.xls-type .x-tree-node-icon { background-image: url(../images/page_white_excel.png); }
.swf-type .x-tree-node-icon { background-image: url(../images/page_white_flash.png); }
.ppt-type .x-tree-node-icon { background-image: url(../images/page_white_powerpoint.png); }

/* -----------------------------------------------------------------------------
    HTML EDITOR
------------------------------------------------------------------------------*/
.x-html-editor-tb .x-edit-insertimage .x-btn-text {
    background:transparent url(../images/picture_add.png) no-repeat;
}
.x-html-editor-tb .x-edit-createanchor .x-btn-text {
    background:transparent url(../images/anchor.png) no-repeat;
}
.x-html-editor-tb .x-edit-createtable .x-btn-text {
    background:transparent url(../images/table_add.png) no-repeat;
}
.x-html-editor-tb .x-edit-indent .x-btn-text {
    background:transparent url(../images/text_indent.png) no-repeat;
}
.x-html-editor-tb .x-edit-outdent .x-btn-text {
    background:transparent url(../images/text_indent_remove.png) no-repeat;
}
.x-html-editor-tb .x-edit-strikethrough .x-btn-text {
    background:transparent url(../images/text_strikethrough.png) no-repeat;
}