body {
	font-size: 80%;
}
#produits li {
    position: relative; /* sinon les puces n'apparaissent pas */
}
#secondary-nav li {
    position: relative;
}
#page-content {
    width: 60%;
}
a.external-link {
    padding: 5px 0 5px 0;
    background: none;
}
