* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	background-color: #D5CD95;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}
a {
	color: #7C4025;
}
a:hover {
	color: #F37A05;
}
h1, h2, h3 {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2em;
}
h3 {
    margin: 5px 0;
}
p {
    padding: 0 0 10px 0;
}
hr {
    display: block;
    clear: left;
    margin: -0.66em 0;
    visibility: hidden;
}
blockquote {
    border : 1px solid #ddd;
    padding: 10px;
    /*background-color: #ccc;*/
    /*quotes: "\201C" "\201D";*/
}
/*blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }*/
ul, ol {
    padding: 0 0 10px 20px;
}
form {
    margin-bottom: 15px;
}
label { display: block; }
input[type='checkbox'] + label { 
    display: inline; 
}
input, select, textarea { 
    border: 1px solid #aaa;
}
.form-errors {
    width: 400px;
    border: 2px solid red;
    padding: 10px 10px 5px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}
.form-errors h2 { 
    margin: 0; 
    font-size: 14px;
    color: red;
}

#container {
	margin: 0 auto 0 auto;
	width: 790px;
	text-align: center;
}
#wrapper {
    position: relative;
	margin: 0 auto 0 auto;
	background-color: #fff;
	width: 790px;
}
#main {
    margin: 0 auto 0 auto;
    width: 760px;
}
#header {
	color: #fff;
	position: relative;
	min-height: 57px;
}
#footer {
	font-size: 10px;
	margin: 40px auto 0 auto;
    padding: 12px 0 20px 0;
	clear: both;
	text-align: center;
	font-weight: bold;
}
#main-content {
	min-height: 350px;
	text-align: left;
	overflow:hidden;
}
.clearer {
	clear: both;
	height: 0;
}
#root-menu {
	position: relative;
	width: 100%;
	font-size: 11px;
}
#root-menu a {
	color: #fff;
	padding: 8px 9px 8px 9px;
	border-bottom: none;
	display: block;
	font-weight: bold;
}
#root-menu a:hover, #root-menu a.current {
	color: #fff;
	border-bottom: none;
	background-color: #E08D3A;
	text-decoration: underline;
}
#root-menu a.current {
    text-decoration: none;
}
#root-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 760px;
}
#root-menu li {
	float: left;
}
/* clearing floats hack */
#root-menu:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* --------- HOME PAGE ---------------- */
#column-g {
    float: left;
    width: 55%;
    position: relative;
    clear: left;
}
#column-g div {
    padding: 15px;
}
#column-d {
    float: left; 
    width: 45%;
}
#actus {
    padding: 15px;
}
#actus ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}
#actus li {
     margin-bottom: 10px;
}
.actu-title {
    font-weight: bold;
    color: #178787;
}
.actu-date {
    padding: 5px 0 5px 20px;
    background: transparent url(../images/date.gif) no-repeat 0 5px;
}
.actu-chapeau {
    font-size: 0.7em;
    padding: 0;
}
.rss-link {
    font-weight: bold;
}

/* --------- PAGES ---------------- */
#page-content {
    float: left;
    width: 65%;
    margin: 0 0 0 10px;
    padding-top: 10px;
}
#secondary-nav {
    float: left;
    width: 30%;
    position: relative;
    clear: right;
    margin-left: 20px;
}
#secondary-nav h3 {
    font-size: 18px;
    margin: 12px 0 10px 0;
    line-height: 1.2em;
}
#secondary-nav ul {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
}
#secondary-nav li {
    background: transparent url(../images/bullet_orange_bg_trans.gif) no-repeat 0 5px;
    padding: 4px 0 4px 20px;
}
#secondary-nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #178787;
}
#secondary-nav a:hover {
    background-color: #399;
    color: #fff;
}

/* --------- LIENS ---------------- */
a.file {
    padding: 5px 0 5px 20px;
    background-color: transparent;
    background-position: 0 5px;
    background-repeat: no-repeat;
}
a.img-type { background-image: url(../images/picture.png); }
a.audio-type { background-image: url(../images/sound.png); }
a.pdf-type { background-image: url(../images/page_white_acrobat.gif); }
a.doc-type { background-image: url(../images/page_white_word.png); }
a.xls-type { background-image: url(../images/page_white_excel.png); }
a.swf-type { background-image: url(../images/page_white_flash.png); }
a.ppt-type { background-image: url(../images/page_white_powerpoint.png); }

a.external-link {
    padding: 5px 0 5px 20px;
    background: transparent url(../images/world_link.gif) no-repeat 0 5px;
}
